{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <div class="py-5 border-t border-gray-200">
        <a  class="hover:text-blue-500"
            href="{% url 'agents:agent-list' %}">
            <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs mb-5 hover:text-blue-500">
                Go Back to Agents
            </span>
        </a>
    </div>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800">Creating new agent</h1>
    </div>
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md">
            Submit
        </button>
    </form>
</div>
{% endblock content %}